<div class="bms-form">
    <div class="bms-form-header">
        <div class="bms-form-header-left">
            <div class="bms-form-header-title">{{screenTitle}}</div>
        </div>
        <div class="bms-form-header-right"></div>
    </div>
    <div class="bms-form-body">
        <div class="chang-pws-block">
            <div class="chang-pws-block-left">
                <div class="change-pws-logo bounce-in">
                    <img src="assets/images/logo.png" />
                </div>
            </div>
            <div class="chang-pws-block-right">
                <div class="pws-block fade-in-right-1">
                    <form form [formGroup]="changePassword">
                        <div class="filter-block">
                            <div class="form-group">
                                <label class="mandatory">Old Password</label>
                                <div class="input-icon">
                                    <input class="form-control" [type]="showPassWordOld ? 'text':'password'"
                                        placeholder="Enter" formControlName="oldPassword" maxlength="50"
                                        (ngModelChange)="showAndHide()">
                                    <div class="input-icon-box">
                                        <span class="material-symbols-outlined" alt="show"
                                            (click)="showPassWordOld=!showPassWordOld"
                                            [class.hide]="showPassWordOld">visibility</span>
                                        <!-- <span class="material-symbols-outlined" alt="hide"
                                            (click)="showPassWordOld=!showPassWordOld"
                                            [class.hide]="!showPassWordOld">visibility_off</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mandatory">New password</label>
                                <div class="input-icon">
                                    <input class="form-control" [type]="showNewPassword ? 'text':'password'"
                                        placeholder="Enter" formControlName="newPassword" maxlength="50"
                                        (ngModelChange)="showAndHide()" (keyup)="newPwdValidationCheck()">
                                    <div class="input-icon-box">
                                        <span class="material-symbols-outlined" alt="show"
                                            (click)="showNewPassword=!showNewPassword"
                                            [class.hide]="showNewPassword">visibility</span>
                                        <!-- <span class="material-symbols-outlined" alt="hide"
                                            (click)="showNewPassword=!showNewPassword"
                                            [class.hide]="!showNewPassword">visibility_off</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mandatory">Confirm New Password</label>
                                <div class="input-icon">
                                    <input class="form-control" [type]="showConfirmNewPassword ? 'text':'password'"
                                        placeholder="Enter" formControlName="confirmNewPassword" maxlength="50"
                                        (ngModelChange)="showAndHide()">
                                    <div class="input-icon-box">
                                        <span class="material-symbols-outlined" alt="show"
                                            (click)="showConfirmNewPassword=!showConfirmNewPassword"
                                            [class.hide]="showConfirmNewPassword">visibility</span>
                                        <!-- <span class="material-symbols-outlined" alt="hide"
                                            (click)="showConfirmNewPassword=!showConfirmNewPassword"
                                            [class.hide]="!showConfirmNewPassword">visibility_off</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pws-error-box">
                            <div class="pws-error-msg" *ngIf="oldPasswordAndNewPassword">
                                Old Password and New Password must be different..!
                            </div>
                            <div class="pws-error-msg" *ngIf="oldPasswordAndConfirmNewPassword">
                                Old Password and Confirm New Password must be different..!
                            </div>
                            <div class="pws-error-msg" *ngIf="newPasswordAndConfirmNewPassword">
                                New Password and Confirm New Password must be same..!
                            </div>
                            <div class="pws-error-msg" *ngIf="allFieldErrorMessage">All field's are mandatory</div>
                            <div class="pws-error-msg" *ngIf="capitalCasePassword">
                                New Password must contain atleast 1 in Capital Case!
                            </div>
                            <div class="pws-error-msg" *ngIf="smallCasePassword">
                                New Password must contain atleast 1 in Small Case!
                            </div>
                            <div class="pws-error-msg" *ngIf="specilCharecterPassword">
                                New Password must contain atleast 1 Special Character!
                            </div>
                            <div class="pws-error-msg" *ngIf="minimumAndMaximum">
                                New Password must contain minimum 8 and maximum 15 Character!
                            </div>
                        </div>
                    </form>
                    <div class="btn-box-center mb-0">
                        <button class="form-btn-1 w-100" type="button" (click)="clear()">Clear</button>
                        <button class="form-btn-1 w-100 active" type="submit" (click)="updatePassword()"
                            [disabled]="changePassword.invalid">
                            Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>